@{
    ViewBag.Title = "Create Recipient Fail";
}

<h2>Create Fail</h2>

@if (ViewBag.nickname_duplicate)
{
    <p>
        Sorry, duplicate nickname.
    </p>
}

@if (ViewBag.general_duplicate)
{
    <p>
        Sorry, duplicate recipient.
    </p>
}


<div>
    @Html.ActionLink("Create again", "Create")
</div>