@model X.PagedList.IPagedList<SinExWebApp20328800.ViewModels.ShipmentsListViewModel>
@using X.PagedList.Mvc

@if (Model.PageCount > 1)
{
    <center>
        <div class="pagination">
            @Html.PagedListPager(Model, page => Url.Action("GenerateHistoryReport", new
       {
           page,
           sortOrder = ViewBag.CurrentSort,
           currentShippingAccountId = ViewBag.CurrentShippingAccountId,
           currentStartingDate = ViewBag.CurrentStartingDate,
           currentEndingDate = ViewBag.CurrentEndingDate
       }))
            Page @Model.PageNumber of @Model.PageCount
        </div>
    </center>
}
