@model SinExWebApp20328800.ViewModels.ShipmentsReportViewModel

@{
    ViewBag.Title = "Shipment History";
}

<h2>Shipment History</h2>

@Html.Partial("_ShipmentsSearchPartial", Model.Shipment)
@Html.Partial("_SHipmentsListPartial", Model.Shipments)
@Html.Partial("_SHipmentsPagingPartial", Model.Shipments)

