
@{
    ViewBag.Title = "PickupSuccess";
}

<h2>PickupSuccess</h2>

<p>
    Congratulations! Your shipment has been picked up successfully by our employee and payment for both shipment and duty and tax are all handled properly. A notification email has been sent to your account email address. 
</p>

<div>
    @Html.ActionLink("Back to list", "Index")
</div>